.contenedor-slider{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.contenedor-slider ul{
    list-style: none;
    padding: 0;
    display: flex;
    width: 400%;

    animation: cambiar 20s infinite;
}

.contenedor-slider ul li{
width: 100%;
}
.contenedor-slider ul li img{
    width: 100%;
    }

    /*ANIMACION DEL SLIDER*/

@keyframes cambiar{
0%{margin-left: 0}
20%{margin-left: 0}

25%{margin-left: -100%}
45%{margin-left: -100%}

50%{margin-left: -200%}
70%{margin-left: -200%}

75%{margin-left:  -300%}
100%{margin-left: -300%}



}